<ion-view title="Contact MSS" id="page4" style="background-color:#B13A3C;">
    <ion-content padding="true" style="background: url(img/aMpQwRWMSE6lxvlxNUJA_kitchen-details-2-1232761.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <a href="#" onclick="window.open('http://mssonline.co.uk/', '_system', 'location=yes'); return false;" id="contactMSS-button7" class="button button-light  button-block icon-left ion-ios-browsers">MSS Online</a>
        <a href="mailto:sales@mssonline.co.uk" id="contactMSS-button8" class="button button-light  button-block icon-left ion-ios-email">Email MSS</a>
        <a href="tel:01213487697" id="contactMSS-button9" class="button button-light  button-block icon-left ion-android-call">Call MSS</a>
    </ion-content>
</ion-view>