<ion-view title="My MSS Points" id="page2" style="background-color:#B13A3C;">
    <ion-content padding="true" style="background: url(img/QMIUNZPXQRyE6MHpXM5C_kitchen-details-2-1232761.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Current Points Total</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Points History</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>