<ion-view title="My MSS Points" id="page2" style="background-color:#B13A3C;">
    <ion-content padding="true" style="background: url(img/aMpQwRWMSE6lxvlxNUJA_kitchen-details-2-1232761.png) no-repeat center;background-size:cover;" class="has-header">
  <ion-refresher on-refresh="load()" pulling-text="Pull To Refresh"></ion-refresher>  
        <div class="list card">
            <div class="item item-divider">Current Points Total</div>
            <div class="item item-body">{{cardDetails[0].points}}</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Points History</div>
            <div class="item item-body">
                <ion-list>
                  <ion-item ng-repeat="item in cardDetails[0].cardHistory">
                  <div class="row">
                    
                        <div class="col-10 col-offset-0">{{item.points}}</div>
                        <div class=" col-10 col-offset-10">{{item.date | date:"d MMM yyyy hh:mm"}}</div></div>
                  </ion-item>
              </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>