<ion-view title="Tabs Controller" id="page1" style="background-color:#C44949;">
    <ion-tabs class="tabs-dark tabs-icon-top">
        <ion-tab title="My MSS Points" icon="ion-ios-list" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My MSS Card" icon="ion-card" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Contact MSS" icon="ion-ios-contact" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>